body {
    background-color: #D5EBFF;
    font-family: Arial, sans-serif; /* Defina a fonte que preferir */
    margin: 0;
    padding: 0;
}
.site wenyd.png{
    align-items: center;
    display: flex;
    
}